
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:fuchsia;
}

header {
    background-color:fuchsia;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}
#size{
    height:80px;
    width:80px;
    border-radius:75%; 
    margin-right:150vh;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color:black;
    text-decoration:none;
}

.description {
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

footer {
    background-color:fuchsia;
    color: black;
    text-align: center;
    padding: 10px;
}